<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata" version="1.5.0" targetFramework="net461" />
  <package id="Atata.WebDriverExtras" version="1.3.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="83.0.4103.3900" targetFramework="net461" />
</packages>