<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata" version="0.15.0" targetFramework="net461" />
  <package id="Atata.Bootstrap" version="0.5.0" targetFramework="net461" />
  <package id="Atata.WebDriverExtras" version="0.13.0" targetFramework="net461" />
  <package id="CsvHelper" version="6.0.0" targetFramework="net461" />
  <package id="NUnit" version="3.9.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.9.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.7.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net461" />
  <package id="WebDriver.ChromeDriver.win32" version="2.33.0.0" targetFramework="net461" />
</packages>