<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="TestEnvironment" value="env" />
    <Parameter name="DriverAlias" value="chrome-headless" />
  </TestRunParameters>
  <RunConfiguration>
    <EnvironmentVariables>
	  <BaseUrl>https://demo.atata.io/?env=QA</BaseUrl>
      <AccountEmail>qa.user@mail.com</AccountEmail>
      <AccountPassword>qapass</AccountPassword>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>