<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <BaseUrl>https://demo.atata.io/?env=QA</BaseUrl>
      <AccountEmail>qa.user@mail.com</AccountEmail>
      <AccountPassword>qapass</AccountPassword>
      <WebDriverAlias>chrome-headless</WebDriverAlias>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
